@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
	<h5>
		We're holding a Halloween Party at my place.
	</h5>
<div class="about">

	<p>There will be a pumpkin carving contest, a costume contest, and free candy for all</p>
	<p>When: October 27th 1-7</p>
	<P>Where: The woods behind my house (The place where 17 people went missing)</P>
	<p>Please submit an RSVP by October 24th</p>
	<p>If you need help parking, please let us know when you RSVP.</p>
</div>

