@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">We're going to have an exciting party</h1>
    <p>And YOU are invited!</p>
    <button id="rsvp"><a class="nav-link text-dark" asp-area="" asp-page="/Form" index="formLink">RSVP Now</a></button>
</div>
